.body-container {
    padding: 10px;
}

.heading {
    color: #ee872f;
    font-weight: 300;
    margin-top: 10px;
}

.rated-button {
    background-color: #ee872f;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    outline: none;
    margin-right: 20px;
}
.inactive-rated-button {
    background-color: #ffffff;
    color: black;
    padding: 10px 15px;
    border: none;
    outline: none;
    margin-right: 20px;
    border: 1px solid black;
}
.rated-button:hover {
    cursor: pointer;
}

.filter-container {
    margin: 10px;
}

.search-input {
    padding: 7px;
}
