@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    box-sizing: border-box;

    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
}

/* Hide the scrollbar but keep the scrolling functionality */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none; /* For Internet Explorer */
    scrollbar-width: none; /* For Firefox */
}
