@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    box-sizing: border-box;
    /* border: 2px solid; */
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
}

/* Hide the scrollbar but keep the scrolling functionality */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none; /* For Internet Explorer */
    scrollbar-width: none; /* For Firefox */
}

.goog-te-gadget {
    display: inline-block;
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

.goog-te-combo {
    width: 200px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
